/* nota.component.css */
:host {
    display: block;
    background-image: url('image/fondoburbujitas.jpg'); /* Cambia la ruta a la imagen que desees */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 20px;
  }
  