<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success"
        (click)="showDialogCreate()" style="margin-bottom: 20px;"></button>

    <p-table [value]="notas" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Alumno</th>
                <th>Curso</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th>Promedio</th>
                <th>Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-nota>
            <tr>
                <td>{{ nota.id }}</td>
                <td>{{ nota.alumno.nombres }} {{ nota.alumno.apellidos }}</td>
                <td>{{ nota.curso.nombre }}</td>
                <td>{{ nota.nota1 }}</td>
                <td>{{ nota.nota2 }}</td>
                <td>{{ nota.nota3 }}</td>
                <td>{{ nota.getPromedio() | number:'1.2-2' }}</td>

                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded"
                        (click)="showDialogEdit(nota.id)"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteNota(nota.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="{{titulo}}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="alumno" class="font-semibold w-6rem">Alumno:</label>
        <p-dropdown [options]="alumnos" [(ngModel)]="nota.alumno" optionLabel="nombres"
            placeholder="Seleccionar Alumno" class="flex-auto" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="curso" class="font-semibold w-6rem">Curso:</label>
        <p-dropdown [options]="cursos" [(ngModel)]="nota.curso" optionLabel="nombre" placeholder="Seleccionar Curso"
            class="flex-auto" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="nota1" class="font-semibold w-6rem">Nota 1:</label>
        <input pInputText type="number" [(ngModel)]="nota.nota1" name="nota1" id="nota1" class="flex-auto"
            autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="nota2" class="font-semibold w-6rem">Nota 2:</label>
        <input pInputText type="number" [(ngModel)]="nota.nota2" name="nota2" id="nota2" class="flex-auto"
            autocomplete="off" />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="nota3" class="font-semibold w-6rem">Nota 3:</label>
        <input pInputText type="number" [(ngModel)]="nota.nota3" name="nota3" id="nota3" class="flex-auto"
            autocomplete="off" />
    </div>

    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
        <p-button label="{{opc}}" (click)="opcion()" />
    </div>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
